 .JS,.RC{
     display: block;
    text-decoration: none;   
    border: 1px  solid;  
    padding: 10px;
    box-shadow: 5px 10px #888888;
    
}
.testToBeGiven{
    width: 12vw;
    padding: 10vw ;
    margin: 5vw 33vw;
}

@media screen and (min-width: 601px) {
    .JS, .RC {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .JS, .RC{
      font-size: 12px;
    }
  }
.data{
  list-style: none;  
  text-decoration: none;   
  margin: 10px;
}
.list{
  list-style-type: circle;
  margin-left: 20px;
  padding: 10px;
  
}